@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: 'Neon Energy X','Old London';
  src: url("/movinfo/public/Neon Energy x.ttf") format("truetype"),
   url("/movinfo/public/OldLondon.ttf") format("truetype");
  font-display: swap;
}
/* @font-face {
  font-family: 'Old London';
  src: url("/movinfo/public/OldLondon.ttf") format("truetype");
  font-display: swap;
} */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  top:0;
  left:0;
  right:0;
  box-sizing: border-box;

}
body {
  box-sizing: border-box;
  top:0;
  left:0;
  right:0;
  color: rgb(var(--foreground-rgb));
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, rgb(76, 11, 109),rgb(7, 4, 6));
}

/* Handle */
/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(0, 53, 128);
  border-radius: 0; /* Set border-radius to 0 */
  position: relative;
}

/* Create a triangle shape using a pseudo-element */
::-webkit-scrollbar-thumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: rgb(0, 53, 128) transparent transparent;
  transform: translateX(-50%);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .Carousel {
  width: fit-content; /* Adjust width as needed */
/* } */

.Carousel-inner {
  scroll-snap-type: x mandatory; /* Enable snapping */
/* Needed for centering */
  transform: translateX(calc(50% - (40%))); 
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.Carousel-item {
  scroll-snap-align: center; /* Align items to the left edge */ /* Allow images to adjust to content */
  width: 80%; /* All slides have same initial width */
  /* margin: 0 5%;  */
}

.Carousel-item.center {
  width: 90%; /* Center slide takes 90% width */
  margin: 0 auto; /* Center horizontally */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.setbg{
  background-image:url("../../public/land4.jpg");
  background-position:center;
  background-attachment: fixed;
}

